@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --color-primary: #477aaa;
    --color-secondary: #b835a6;
    --color-warning: #ebaa32;
    --color-success: #0ab43d;
    --color-danger: #fb5656;
}